<!doctype html>
<html>
    <head>
        <!-- 如果有title這個值則代入使用這個 -->
      {% if title %}
      <title>{{ title }} - 微型部落格 </title>
      <!-- 否則使用這個 -->
      {% else %}
      <title> 歡迎來到微型部落格 </title>
      {% endif %}
    </head>
    <body>
        <div> 微型部落格：
            <a href="{{ url_for('index') }}"> 首頁 </a>
            <a href="{{ url_for('login') }}"> 登入 </a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!-- 可以用來替換內容 -->
        {% block content %}{% endblock %}
    </body>
</html>